body{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 245);

}

a{
    color: rgb(92, 92, 102);
    transition: .3s;
}

a:visited{
    color: rgb(231, 74, 26);
}

a:hover {
    transform: rotate(5deg);
}


header{
    width: 960px;
    height: 170px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.global-nav{
    background-color:#0f143b;
    color: rgb(228, 131, 13);
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.global-nav li{
    margin: 0 20px ;
    font-size: 18px;
    list-style: none;
}

.global-nav li a :hover{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 8px;
}

.main{
    width: auto;
    margin: 0 auto;
}

footer{
    text-align: center;
    color: grey;
}

.parent{
    background-image: url(national_men.jpg) ;
    
}

.content1{
    font-size: 100px;
    color:silver;
    text-align: center;
}

table{
width: 100%;
text-align: center;
}

.btn{
    color: royalblue;
    font-size: 20px;
}

.main-twocolumn{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
    
}

.contents-area{
    background-color: slateblue;
    padding: 20px 40px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 80%;
}
.side-area{
    background-color: slateblue;
    padding: 20px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 40%;
    background-color: rgb(130, 187, 233);
}

.form{
    width: 100%;
    background-color: tan;
    margin: 20px 50px 0 50px;
}
.form .message{
    width: 560px;
    height: 150px;
}

.start{
    color: darkslategray;
}



.contents-n1{
    text-align: center;
    width: 100%;
}

.contents-n2{
    background-color: goldenrod;
}





